[Unit]
Description=HomePi_LocalSwitch_Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/guy/github/LocalSwitch/FamilyRoomWindow/DSswitch.py
[Install]
WantedBy=multi-user.target
